@use '../sass/variables' as variables;

.enjoyable {
  position: relative;
  max-width: 144rem;
  margin: -7rem auto;
  z-index: 30;
  @media only screen and (max-width: variables.$bp-small) {
    margin: -4rem auto;
  }
  &__family {
    display: flex;
    padding: 0 10rem 0 16.75rem;
    align-items: center;
    gap: 9rem;
    position: relative;
    @media only screen and (max-width: variables.$bp-large){
      flex-direction: column;
      padding: 0;
    }
    @media only screen and (max-width: variables.$bp-small) {
      gap: 6rem;
    }
    &--location {
      @media only screen and (max-width: variables.$bp-small) {
        width: 32.7rem;       
      }
      .location__img {
        width: 54rem;
        height: 72rem;
        background-image: url('../images/homepage/enjoyable-place-desktop.jpg');
        box-shadow: 0 1rem 7rem .1rem rgba(0, 0, 0, .3);
        @media only screen and (max-width: variables.$bp-large){
          background-image: url('../images/homepage/enjoyable-place-tablet.jpg');
          background-repeat: no-repeat;
          height: 36rem;
          width: 57.3rem;
        }
        @media only screen and (max-width: variables.$bp-small){
          background-image: url('../images/homepage/enjoyable-place-mobile.jpg'); 
          width: 32.7rem;         
        }
      }
      .pattern__cr {
        position: absolute;
        left: 0;
        top: 28rem;
        @media only screen and (max-width: variables.$bp-large){
          left: -50%;
        }
        @media only screen and (max-width: variables.$bp-small) {
          display: none;
        }
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: flex-start;
      width: 44.5rem;
      @media only screen and (max-width: variables.$bp-large){
        align-items: center;
        gap: 3rem;
      }
      & h2 {
        font-size: 4.8rem;
        font-weight: bold;
        @media only screen and (max-width: variables.$bp-large){
          text-align: center;
        }
        @media only screen and (max-width: variables.$bp-small){
          font-size: 3.2rem;
          width: 60%;
          line-height: 1.2;
        }
      }
      & p {
        font-size: 2rem;
        line-height: 1.3;
        @media only screen and (max-width: variables.$bp-large){
          text-align: center;
        }
        @media only screen and (max-width: variables.$bp-small){
          font-size: 1.6rem;
          width: 70%;
        }
      }
    }
  }
  &__food {
    padding: 0 10rem 0 16.75rem;
    margin: 12rem 0;
    display: flex;
    align-items: center;
    gap: 12rem;
    position: relative;
    justify-content: center;
    @media only screen and (max-width: variables.$bp-large){
      padding: 0 10rem 10rem 10rem;
      flex-direction: column-reverse;
      gap: 7rem;    
    }
    @media only screen and (max-width: variables.$bp-large){
      padding: 0 10rem;  
    }
    .locally__img {
      width: 54rem;
      height: 72rem;
      box-shadow: 0 1rem 7rem .1rem rgba(0, 0, 0, .3);
      position: relative;
      z-index: 20;
      background-image: url('../images/homepage/locally-sourced-desktop.jpg');
      @media only screen and (max-width: variables.$bp-large){
        background-image: url('../images/homepage/locally-sourced-tablet.jpg');
        background-repeat: no-repeat;
        width: 57.3rem;
        height: 36rem;
      }
      @media only screen and (max-width: variables.$bp-small){
        background-image: url('../images/homepage/locally-sourced-mobile.jpg');
        width: 32.7rem;
        height: 40rem;
      }
    }
    .pattern__left {
      position: absolute;
      bottom: 10rem;
      right: 0;
      @media only screen and (max-width: variables.$bp-large){
        right: -60%;
        bottom: -5rem;
      }
      @media only screen and (max-width: variables.$bp-small){
        display: none;
      }
    }
    .pattern__line {
      position: absolute;
      top: 26rem;
      right: 5rem;
      z-index: 50;
      @media only screen and (max-width: variables.$bp-small){
        display: none;
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: flex-start;
      width: 44.5rem;
      @media only screen and (max-width: variables.$bp-large){
        align-items: center;
      }
      & h2 {
        font-size: 4.8rem;
        font-weight: bold;
        text-align: center;
        @media only screen and (max-width: variables.$bp-large){
          font-size: 3.2rem;
          width: 60%;
        }
      }
      & p {
        font-size: 2rem;
        line-height: 1.3;
        text-align: center;
        @media only screen and (max-width: variables.$bp-large){
          font-size: 1.6rem;
          width: 70%;
        }
      }
    }

  }
}