@use '../sass/variables' as variables;

.footer {
  background-color: var(--cold-gray);
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6rem 16.5rem;
  gap: 28rem;
  @media only screen and (max-width: variables.$bp-large){
    padding: 6rem;
    gap: 14rem;
    align-items: flex-start;
  }
  @media only screen and (max-width: variables.$bp-small){
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding: 6rem 3rem;
  }
  &__inf {
    display: flex;
    gap: 18rem;
    @media only screen and (max-width: variables.$bp-large){
      flex-direction: column;
      gap: 5rem;
    }
    &--address, 
    &--schedule {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media only screen and (max-width: variables.$bp-small){
        align-items: center;
      }
      & p {
        color: var(--white);
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }
  }
}