@use '../sass/variables' as variables;

.form {
  max-width: 144rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  &__main {
    background-image: url('../images/booking/hero-bg-desktop.jpg');
    height: 60rem;
    padding: 6.5rem 16.7rem;
    display: flex;
    flex-direction: column;
    gap: 14rem;
    position: relative;
    z-index: 5;
    @media only screen and (max-width: variables.$bp-large){
      gap: 6rem;
      padding: 6.5rem 11rem;
      background-image: url('../images/booking/hero-bg-tablet.jpg');
    }
    @media only screen and (max-width: variables.$bp-small){
      background-image: url('../images/booking/hero-bg-mobile.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      padding: 6.5rem 6rem;
    }
    &--content {
      display: flex;
      align-self: center;
      gap: 8rem;
      max-width: 106.6rem;
      width: 72vw;
      @media only screen and (max-width: variables.$bp-large){
        flex-direction: column;        
        align-self: unset;
        align-items: center;
      }
      &__text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        @media only screen and (max-width: variables.$bp-large){
          width: 100%;
        }
        & h1 {
          color: var(--white);
          font-size: 8rem;
          font-weight: 300;
          @media only screen and (max-width: variables.$bp-large){
            font-size: 4.8rem;
          }
          @media only screen and (max-width: variables.$bp-small){
            font-size: 3.2rem;
          }
        }
        & p {
          color: var(--white);
          font-size: 2rem;
          line-height: 2;
          text-align: center;
          @media only screen and (max-width: variables.$bp-small){
            font-size: 1.6rem;
          }
        }
      }
      &__pattern {
        position: relative;
        height: 60%;
        &--lines {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &--cf {
          width: 54rem;
          height: 54.5rem;
          background-color: var(--white);
          box-shadow: 0 1rem 7rem .1rem rgba(0, 0, 0, .3);
          @media only screen and (max-width: variables.$bp-small){
            width: 100%;
            min-width: 32.7rem;
            height: 58.5rem;
          }

          .form {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            @media only screen and (max-width: variables.$bp-small){
              padding: 2rem;
            }
            &__group--name-email {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 2rem;
              & input {
                width: 100%;
                padding: 1.6rem 1rem;
                font-size: 2rem;
                border: none;
                outline: none;
                border-bottom: 1px solid #8e8e8e;
              } 
            }
            &__group--date {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-direction: column;
              gap: 3rem;
              .group__date, 
              .group__time {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                @media only screen and (max-width: variables.$bp-small){
                  flex-direction: column;
                  align-items: flex-start;
                }
                .label {
                  & p {
                    font-size: 2rem;
                    width: 9rem;
                  }
                }
                .pick__date, 
                .pick__time {
                  display: flex;
                  gap: 2rem;
                  width: 64%;
                  @media only screen and (max-width: variables.$bp-small){
                    width: 100%;
                  }
                  & input {
                    border: none;
                    border-bottom: 1px solid #8e8e8e;
                    width: 33%;
                    padding: 1.4rem 1rem;
                    font-size: 2rem;
                    outline: none;
                  }
                }
                .pick__time {
                  &--ampm {
                    width: 33%;
                    position: relative;
                    & input {
                      width: 100%;
                      cursor: pointer;
                    }
                    & svg {
                      position: absolute;
                      font-size: 1.4rem;
                      right: 1rem;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                    .ampm {
                      cursor: pointer;
                      position: absolute;
                      width: 10.6rem;
                      height: 10.3rem;
                      top: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      gap: 2rem;
                      display: none;
                      
                      &__cont {
                        box-shadow: 0 1rem 7rem .1rem rgba(0, 0, 0, .3);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                        width: 100%;
                        height: 85%;
                        background-color: transparent;
                        &--ele {
                          display: flex;
                          align-items: center;
                          & svg {
                            position: relative;
                          }
                        }
                        & p {
                          font-size: 2rem;
                        }
                      }
                    }
                  } 
                  &--ampm:hover .ampm {
                    background-color: white;
                    display: flex;
                  }
                }
              }
              .group__people {
                width: 100%;
                height: 4.8rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #8e8e8e;
                & button {
                  border: none;
                  background-color: transparent;
                  padding: 1rem;
                  cursor: pointer;
                }
                & p {
                  font-size: 2rem;
                  font-weight: bold;
                }
              }
            }
          }
          .btn__form {
            background-color: var(--cold-gray);
            font-size: 1.7rem;
            width: 100%;
          }
        }
      }
    }
  }
  &__divider {
    position: relative;
    @media only screen and (max-width: variables.$bp-large){
      height: 65vw;
    }
    @media only screen and (max-width: variables.$bp-small){
      height: 47rem;
    }
    &--curve {
      @media only screen and (max-width: variables.$bp-large){
        display: none;
      }  
    }
    &--lines {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -15%);
      
    }
  }
}


.nonvisible {
  visibility: hidden;
}
.hidden {
  display: none;
}
.errorMsg {
  font-size: 1rem !important;
  color: var(--beaver);
  position: absolute;
  margin-top: 1rem;
  width: 100% !important;
  @media only screen and (max-width: variables.$bp-small){
    // top: 0;
    // left: 40%;
  }
}

.err_date_time_msg {
  @media only screen and (max-width: variables.$bp-small){
    top: 0;
    left: 40%;
  }
}