@use '../sass/variables' as variables;

.gathering {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  .gathering__pattern {
    margin-left: -35rem;
    @media only screen and (max-width: variables.$bp-small){
      display: none;
    }
  }
  .gathering__slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 110rem;
    margin: -16rem auto 16rem;
    align-items: center;
    column-gap: 12rem;
    position: relative;
    @media only screen and (max-width: variables.$bp-large){
      grid-template-columns: 1fr;
      margin: -16rem auto 10rem;
    }
    @media only screen and (max-width: variables.$bp-small){
      margin: 6rem -4rem 10rem;
    }
    &--lines {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-30%, -50%);
      @media only screen and (max-width: variables.$bp-small){
        display: none;
      }
    }
    &--img {
      grid-row: 1/3;
      width: 54rem;
      height: 60rem;
      box-shadow: 0 2rem 6rem -2rem rgba(0, 0, 0, 0.476);
      @media only screen and (max-width: variables.$bp-large){
        max-width: 57.3rem;
        width: 100%;
        height: 36rem;
      }
      @media only screen and (max-width: variables.$bp-small){
        width: 32.6rem;
        height: 40rem;
      }
      .family {
        background-image: url('../images/homepage/family-gathering-desktop.jpg');
        @media only screen and (max-width: variables.$bp-large){
          background-image: url('../images/homepage/family-gathering-tablet.jpg');
        }
        @media only screen and (max-width: variables.$bp-small){
          background-image: url('../images/homepage/family-gathering-mobile.jpg');
        }
        width: inherit;
        height: inherit;
      }
      .special {
        background-image: url('../images/homepage/special-events-desktop.jpg');
        width: inherit;
        height: inherit;
        @media only screen and (max-width: variables.$bp-large){
          background-image: url('../images/homepage/special-events-tablet.jpg');
        }
        @media only screen and (max-width: variables.$bp-small){
          background-image: url('../images/homepage/special-events-mobile.jpg');
        }
      }
      .social {
        background-image: url('../images/homepage/social-events-desktop.jpg');
        width: inherit;
        height: inherit;
        @media only screen and (max-width: variables.$bp-large){
          background-image: url('../images/homepage/social-events-tablet.jpg');
        }
        @media only screen and (max-width: variables.$bp-small){
          background-image: url('../images/homepage/social-events-mobile.jpg');
        }
      }
      
    }
    &--content {
      width: 44.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @media only screen and (max-width: variables.$bp-large){
        align-items: center;
      }
      & h4 {
        font-size: 4.8rem;
        @media only screen and (max-width: variables.$bp-small){
          font-size: 3.2rem;
        }
      }
      & p {
        font-size: 2rem;
        line-height: 3rem;
        height: 12rem;
        @media only screen and (max-width: variables.$bp-large){
          text-align: center;
        }
        @media only screen and (max-width: variables.$bp-small){
          font-size: 1.6rem;
          width: 75%;
        }
      }
      .btn__gathering {
        background-color: var(--cold-gray);
        font-size: 1.7rem;
        margin-top: 3rem;
        @media only screen and (max-width: variables.$bp-large){
          margin-top: 0;
        }
      }
    }
    &--btns {
      justify-self: baseline;
      align-self: baseline;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 5rem;
      position: relative;
      @media only screen and (max-width: variables.$bp-large){
        grid-row: 3/4;
        flex-direction: row;
        padding: 6rem 0;
        justify-self: center;
        gap: 8rem;
        margin-top: 0;
      }
      @media only screen and (max-width: variables.$bp-small){
        flex-direction: column;
        gap: 2rem;
      }
      &-opt {
        position: relative;
        & p {
          font-size: 2.4rem;
          opacity: 50%;
          cursor: pointer;
        }
        .divider {
          position: absolute;
          width: 9.5rem;
          top: 50%;    
          transform: translateY(-50%);     
          left: -12rem;
          height: 1px;
          background-color: var(--beaver);
          @media only screen and (max-width: variables.$bp-large){
            top: 130%;
            left: 50%;
            transform: translateX(-50%);
          }
          @media only screen and (max-width: variables.$bp-small){
            width: 6rem;
          }
        }
      }
      
     
    }
  }
}

.active__tab {
  opacity: 100% !important;
}

.hidden {
  display: none;
}