.gathering {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  .gathering__pattern {
    margin-left: -35rem;
  }
  .gathering__slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 110rem;
    margin: -16rem auto 16rem;
    align-items: center;
    column-gap: 12rem;
    position: relative;
    &--lines {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-30%, -50%);
    }
    &--img {
      grid-row: 1/3;
      & img {
        box-shadow: 0 2rem 6rem -2rem rgba(0, 0, 0, 0.476);
      }
    }
    &--content {
      width: 44.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      & h4 {
        font-size: 4.8rem;
      }
      & p {
        font-size: 2rem;
        line-height: 3rem;
        height: 12rem;
      }
      .btn__gathering {
        background-color: var(--cold-gray);
        font-size: 1.7rem;
        margin-top: 3rem;
      }
    }
    &--btns {
      justify-self: baseline;
      align-self: baseline;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 5rem;
      position: relative;
      &-opt {
        position: relative;
        & p {
          font-size: 2.4rem;
          opacity: 50%;
          cursor: pointer;
        }
        .divider {
          position: absolute;
          width: 9.5rem;
          top: 50%;    
          transform: translateY(-50%);     
          left: -12rem;
          height: 1px;
          background-color: var(--beaver);
        }
      }
      
     
    }
  }
}

.active__tab {
  opacity: 100% !important;
}

.hidden {
  display: none;
}