.hero {
  margin: 0 auto;
  background-image: url('../images/homepage/hero-bg-desktop.jpg');
  max-width: 144rem;
  height: 82rem;
  max-height: 82rem;
  position: relative;
  z-index: 10;
  &__main {
    padding: 6.5rem 16.7rem;
    display: flex;
    flex-direction: column;
    gap: 14rem;
    &--logo {
      position: relative;
      z-index: 30;
    }
    
    &--content {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      z-index: 20;
      & h1 {
        font-size: 8rem;
        color: var(--white);
        font-weight: lighter;
        z-index: 20;
        & span {
          display: block;
        }
      }
      & p {
        font-size: 2rem;
        font-weight: 300;
        color: var(--white);
        padding-right: 12rem;
        line-height: 3rem;
        z-index: 20;
      }
      
      & a:link {
        z-index: 20;
      }
    }
    &--content::after {
      position: absolute;
      content: '';
      display: block;
      width: 56rem;
      height: 82rem;
      max-height: 82rem;
      background-color: #000;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
}