@use '../sass/variables' as variables;

.hero {
  margin: 0 auto;
  background-image: url('../images/homepage/hero-bg-desktop.jpg');
  max-width: 144rem;
  height: 82rem;
  max-height: 82rem;
  position: relative;
  z-index: 10;
  @media only screen and (max-width: variables.$bp-large){
    background-image: url('../images/homepage/hero-bg-tablet.jpg');
    height: 92rem;
    max-height: 92rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__main {
    padding: 6.5rem 16.7rem;
    display: flex;
    flex-direction: column;
    gap: 14rem;
    @media only screen and (max-width: variables.$bp-large){
      gap: 2rem;
      padding: 0;
      width: 80%;
      margin-bottom: 18rem;
      align-items: center;
      justify-content: center;
    }
    &--logo {
      position: relative;
      z-index: 30;
      @media only screen and (max-width: variables.$bp-large){
        text-align: center;
      }
    }
    &--content {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      z-index: 20;
      @media only screen and (max-width: variables.$bp-large){
        width: 100%;
        align-items: center;
      }
      & h1 {
        font-size: 8rem;
        color: var(--white);
        font-weight: lighter;
        z-index: 20;
        @media only screen and (max-width: variables.$bp-large){
          font-size: 4.8rem;
        }
        & span {
          display: block;
           @media only screen and (max-width: variables.$bp-large){
            text-align: center;
          }
        }
      }
      & p {
        font-size: 2rem;
        font-weight: 300;
        color: var(--white);
        padding-right: 12rem;
        line-height: 3rem;
        z-index: 20;
        display: block;
        @media only screen and (max-width: variables.$bp-large){
          padding: 0;
          text-align: center;
        }
      }
      
      & a:link {
        z-index: 20;
      }
    }
    &--content::after {
      position: absolute;
      content: '';
      display: block;
      width: 56rem;
      height: 82rem;
      max-height: 82rem;
      background-color: #000;
      top: 0;
      left: 0;
      z-index: 10;
      @media only screen and (max-width: variables.$bp-large){
        width: 100%;
        height: 56rem;
        bottom: 0;
        top: unset;
        
      }
    }
  }
}