.highlights {
  max-width: 144rem;
  height: 76.1rem;
  background-color: var(--cold-gray);
  margin: -22rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5rem;
  &__cont {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    margin-top: 14rem;
    max-width: 111rem;
    &--text {
      width: 44.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.7rem;
      align-items: flex-start;
      position: relative;
      & img {
        position: absolute;
        top: -6rem;
      }
      & h3,
      & p {
        color: var(--white);
      }
      & h3 {
        font-size: 4.8rem;
      }
      & p {
        font-size: 2rem;
      }
    }
    &--imgs {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      max-width: 54rem;
      .dish {
        display: flex;
        gap: 6rem;
        align-items: center;
        justify-content: center;
        &__img {
          position: relative;
          & img:first-child {
            position: absolute;
            z-index: 1;
            right: -2.5rem;
            top: 1rem;
          }
          & img:last-child {
            position: relative;
            z-index: 20;
          }
        }
        &__inf {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          & h4,
          & p {
            color: var(--white);
            line-height: 1.6;
          }
          & h4 {
            font-size: 2.4rem;
          }
          & p {
            font-size: 1.6rem;
          }
        }
      }
      .dish:nth-child(2) {
        border-top: 1px solid #9797977c;
        border-bottom: 1px solid #9797977c;
        padding: 3rem 0;
      }
    }
  }
}


