@use '../sass/variables' as variables;

.highlights {
  max-width: 144rem;
  height: 76.1rem;
  background-color: var(--cold-gray);
  margin: -22rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5rem;
  @media only screen and (max-width: variables.$bp-large){
    margin: 0 auto;
    height: auto;
    padding-bottom: 8rem;
  }
  &__cont {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    margin-top: 14rem;
    max-width: 111rem;
    @media only screen and (max-width: variables.$bp-large){
      flex-direction: column;
    }
    @media only screen and (max-width: variables.$bp-small){
      padding: 3rem;
      align-items: center;
    }
    &--text {
      width: 44.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.7rem;
      align-items: flex-start;
      position: relative;
      @media only screen and (max-width: variables.$bp-small){
        width: 100%;
        align-items: center;
      }
      & img {
        position: absolute;
        top: -6rem;
        @media only screen and (max-width: variables.$bp-small){
          right: 50%;
          transform: translateX(50%);
        }
      }
      & h3,
      & p {
        color: var(--white);
      }
      & h3 {
        font-size: 4.8rem;
        @media only screen and (max-width: variables.$bp-small){
          font-size: 3.2rem;  
          text-align: center;
        }
      }
      & p {
        font-size: 2rem;
        @media only screen and (max-width: variables.$bp-small){
          font-size: 1.6rem;  
          text-align: center;
        }
      }
      
    }
    &--imgs {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      max-width: 54rem;
      .dish {
        display: flex;
        gap: 6rem;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: variables.$bp-small){
          flex-direction: column;
        }
        &__img {
          position: relative;
          &--cont--salmon, 
          &--cont--beef,
          &--cont--chocolate {
            position: relative;
            z-index: 10;
            width: 12.8rem;
            height: 9.6rem;
            @media only screen and (max-width: variables.$bp-small){
              width: 32.7rem;
              height: 24.5rem;
            }
          }
          &--cont--salmon {
            background-image: url('../images/homepage/salmon-desktop-tablet.jpg');
            @media only screen and (max-width: variables.$bp-small){
              background-image: url('../images/homepage/salmon-mobile.jpg');
            }
          }
          &--cont--beef {
            background-image: url('../images/homepage/beef-desktop-tablet.jpg');
            @media only screen and (max-width: variables.$bp-small){
              background-image: url('../images/homepage/beef-mobile.jpg');
            }
          }
          &--cont--chocolate {
            background-image: url('../images/homepage/chocolate-desktop-tablet.jpg');
            @media only screen and (max-width: variables.$bp-small){
              background-image: url('../images/homepage/chocolate-mobile.jpg');
            }
          }




          & img:first-child {
            position: absolute;
            z-index: 1;
            right: -2.5rem;
            top: 1rem;
            @media only screen and (max-width: variables.$bp-small){
              display: none;
            }
          }
          & img:last-child {
            position: relative;
            z-index: 20;
          }
        }
        &__inf {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          & h4,
          & p {
            color: var(--white);
            line-height: 1.6;
          }
          & h4 {
            font-size: 2.4rem;
          }
          & p {
            font-size: 1.6rem;
          }
        }
      }
      .dish:nth-child(2) {
        border-top: 1px solid #9797977c;
        border-bottom: 1px solid #9797977c;
        padding: 3rem 0;
      }
    }
  }
}


