@use '../sass/variables' as variables;

.reservation {
  height: 24rem;
  max-width: 144rem;
  background-image: url('../images/booking/hero-bg-desktop.jpg');
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  @media only screen and (max-width: variables.$bp-large){
    flex-direction: column;
  }
  @media only screen and (max-width: variables.$bp-small){
    height: 32.8rem;
    justify-content: center;
    gap: 3rem;
  }
  & h3 {
    font-size: 4.8rem;
    color: var(--white);
    @media only screen and (max-width: variables.$bp-small){
      font-size: 3.2rem;
      width: 80%;
      text-align: center;
    }
  }
}